#score {
    color: white;
    background-color: black;
    width: 100%;
    height: 28px;
    position: relative;
}

#score h3 {
text-align: center;
}

#border-top, #border-bottom, #border-left, #border-right {
    background: wheat;
    position: fixed;
    }
    #border-left, #border-right {
        top: 47px; bottom: 0;
        width: 30px;
        } 
        #border-left { left: 0;}
        #border-right { right: 0;}

    #border-top {
        left: 0; right: 0;
        height: 30px;
        }
    #border-bottom {
        left: 0; right: 0;
        height: 0;
    }

    /* #red-block {
        background: red;
        position: absolute;
        width: 82px;
        height: 38px;
        left: 87%;
        top: 58px; */

    

#tablesection {
        background: black;
        height: 500px;
        /* position: relative; */
    }
#table-1 {
    background: black;
    height: 10%;
    width: 96%;
    margin-left: 25px;
    margin-top: 32px;
}


#first-row td {
    background-color: red;
    border: 1px solid black;
}

#table-2 {
    background: black;
    height: 10%;
    width: 96%;
    margin-left: 25px;
}
#second-row td {
    background-color: red;
    border: 1px solid black;
}
#table-3 {
    background: black;
    height: 10%;
    width: 96%;
    margin-left: 25px;
}


#third-row td {
    background-color: yellow;
    border: 1px solid black;
}
#table-4 {
    background: black;
    height: 10%;
    width: 96%;
    margin-left: 25px;
}


#forth-row td {
    background-color: yellow;
    border: 1px solid black;
}
#table-5 {
    background: black;
    height: 10%;
    width: 96%;
    margin-left: 25px;
}


#fifth-row td {
    background-color: green;
    border: 1px solid black;
}
#table-6 {
    background: black;
    height: 10%;
    width: 96%;
    margin-left: 25px;
}


#sixth-row td {
    background-color: green;
    border: 1px solid black;
}
#table-7 {
    background: black;
    height: 10%;
    width: 96%;
    margin-left: 25px;
}


#seventh-row td {
    background-color: blue;
    border: 1px solid black;
}
#table-8 {
    background: black;
    height: 10%;
    width: 96%;
    margin-left: 25px;
}


#eigth-row td {
    background-color: blue;
    border: 1px solid black;
}

#blacksquare {
    background-color: black;
    border: 1px solid black;
}
#smallsquare1 {
    background-color: cadetblue;
    height: 12px;
    width: 12px;
    left: 292px;
    top: 170px;
    position: absolute;
}
#smallsquare2 {
    background-color: cadetblue;
    height: 12px;
    width: 12px;
    left: 1018px;
    top: 168px;
    position: absolute;
}
#smallsquare3 {
    background-color: cadetblue;
    height: 12px;
    width: 12px;
    left: 65px;
    top: 600px;
    position: absolute;
}
#slider {
    background-color: wheat;
    height: 14px;
    width: 146px;
    left: 334px;
    top: 716px;
    position: absolute;
}


   



    