.main-box {
    text-align: center;
    padding-top: 1em;
}
.art-title {
    font-size: 18;
}
.box-border {
    border-style: double;
    border-width: 2px;
    border-color: cadetblue;
    border-radius: 2em;
}